* {
  -webkit-tap-highlight-color: rgba(gray, 0.25);
}

html {
  color: $black;
  font-size: 62.5%;

  @include media-query(sph) {
    font-size: 65%;
  }

  @include media-query(tc) {
    font-size: 67%;
  }

  @include media-query(tc) {
    font-size: 70%;
  }
}

body {
  font-family: map-get($fonts, 'main');
  font-size: 1.4rem;
  line-height: 1.6;
  position: relative;
  z-index: 0;
}

a {
  background-color: transparent;
  color: #08F;
  text-decoration: none;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

//幅が600px以下の時、WordPressの管理バーの一がずれる不具合を修正
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}
  