.comments {

  .comment-respond {
    overflow: hidden;

    .comment-reply-title {
      font-size: 1.6rem;

      &::after {
        clear: both;
        content: '';
        display: block;
      }
      
      small {
        font-weight: normal;
        margin-left: 1em;

        a {
          border-bottom: 1px solid $black;
          color: black;
        }
      }
    }

    .comment-form {
      .logged-in-as {
        &::after {
          clear: both;
          content: '';
          display: block;
        }
        
        .logout-link {
          float: right;
        }
      }

      .comment-notes {
        color: gray;
      }

      textarea, input[type='text'] {
        box-sizing: border-box;
        background: #F8F8F8;
        border: none;
        padding: 10px;
        resize: none;
        width: 100%;
      }

      .form-submit {
        .submit {
          display: block;
          margin: auto;
        }
      }
    }
  }

  .comment-list {
    overflow: hidden;

    .comment-list-title {
      font-size: 1.6rem;
      font-weight: bold;
    }
    
    .comment-list-items {
      list-style: none;
      padding: 0;

      & > * + * {
        margin-top: 40px;
      }

      .comment {
        &.bypostauthor {
          & > .comment-content {
            .comment-head {
              border-bottom: 1px solid $black;
              
              .comment-author::after {
                content: '（制作者）';
              }
            }
          }
        }

        .comment-content {
          .comment-head {
            border-bottom: 1px solid $gray;

            .comment-author {
              display: inline-block;
              font-weight: bold;
              margin: 0 0 2px 0;
            }
          }

          .comment-body {
            & > * {
              margin: 2em 0;
            }
          }

          .comment-foot {
            color: gray;
            font-size: 1.2rem;
            
            &::after {
              clear: both;
              content: '';
              display: block;
            }

            .comment-reply {
              float: right;
            }
          }

        }
      }

      .children {
        border-left: 2px solid $gray;
        list-style: none;
        padding: 0 0 0 20px;

        & > * {
          margin-top: 40px;
        }
      }
    }
  }
}