.comments {

  .comment-respond {
    padding: 0.1px 0;

    .comment-reply-title {
      font-size: 1.6rem;
      
      small {
        display: block;
        font-weight: normal;
        margin: 1em 0 0 0;
        text-align: right;

        a {
          @include button-2(small);
        }
      }
    }

    .comment-form {
      .logged-in-as {
        &::after {
          clear: both;
          content: '';
          display: block;
        }
        
        .logout-link {
          @include button-2(small);

          float: right;
        }
      }

      .comment-notes {
        color: gray;
      }

      input[type='text'] {
        @include text-field();
      }

      textarea {
        @include text-area();
      }

      .form-submit {
        .submit {
          @include button-1;

          display: block;
          margin: auto;
        }
      }
    }
  }

  .comment-list {
    padding: 0.1px 0;

    .comment-list-title {
      font-size: 1.6rem;
      font-weight: bold;
    }
    
    .comment-list-items {
      list-style: none;
      padding: 0;

      & > * + * {
        margin-top: 40px;
      }

      .comment {
        &.bypostauthor {
          & > .comment-content {
            .comment-head {
              border-bottom: 1px solid $black;
              
              .comment-author::after {
                content: '（制作者）';
              }
            }
          }
        }

        .comment-content {
          .comment-head {
            border-bottom: 1px solid $gray;

            .comment-author {
              display: inline-block;
              font-weight: bold;
              margin: 0 0 2px 0;
            }
          }

          .comment-body {
            & > * {
              margin: 2em 0;
            }
          }

          .comment-foot {
            color: gray;
            font-size: 1.2rem;
            
            &::after {
              clear: both;
              content: '';
              display: block;
            }

            .comment-reply {
              float: right;

              .comment-reply-link {
                @include button-2(small);
              }
            }
          }

        }
      }

      .children {
        border-left: 2px solid $gray;
        list-style: none;
        padding: 0 0 0 20px;

        & > * {
          margin-top: 40px;
        }
      }
    }
  }
}