.content {
  position: absolute;
  width: 100%;
  z-index: 0;

  @include media-query-below(pc) {
    padding-top: $header-height;
  } 

  @include media-query(pc) {
    margin-left: $sidebar-width;
    width: calc( 100% - #{$sidebar-width} );
  } 
}