.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100px;

  &::before {
    background: $black;
    content: '';
    padding-top: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s;
    width: 100%;
    z-index: -1;
  }

  &.-active::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &__svg {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    stroke: $black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    transform-origin: center;
    transition: transform 0.5s, stroke 0.5s;
    width: 100%;

    &:nth-child(1) {
      transform: translate(-50%, -100%);
    }
    &:nth-child(2) {
      transform: translate(-50%, 0);
    }
  }

  &.-active &__svg {
    stroke: white;

    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(-20deg);
    }

    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(20deg);
    }
  }
}