.post-list {

  &__posts {
    &-sizer {
      width: 100%;
    
      @include media-query(sph) {
        width: 50%;
      }
    
      @include media-query(pc) {
        width: 33.3333%;
      }
    }
  }

  &__see-more-button {
    @include button-1('large');

    display: block;
    margin: 20px auto;

    &:disabled {
      color: white;
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;

    &-prev-page-link, &-next-page-link {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 10px 20px;
      text-align: center;
      white-space: nowrap;
    }
  }
  
  &__page-load-status {
    display: none;

    .infinite-scroll-last,
    .infinite-scroll-error {
      color: gray;
      font-size: 2rem;
      text-align: center;
    }
  }
}