.posts-navigation {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include media-query(pc) {
    align-items: normal;
    flex-direction: row;
    justify-content: center;
  }

  &__item {
    margin: 15px;
    max-width: 450px;
    width: 100%;

    @include media-query(sph) {
      @include media-query-below(pc) {
        max-width: 700px;
      }
    }

    &-type {
      display: flex;
      font-size: 2rem;
      margin: 0;
      padding: 0 0.5em;

      &-name {
        font-weight: bold;
      }

      &-icon {
        margin: 0 0.5em;

        &-svg {
          fill: none;
          height: 14px;
          stroke: $black;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          transform: scale(2.2);
          width: 14px;
        }
      }
    }

    &.-next &-type {
      flex-direction: row-reverse;

      &-icon {
        transform: rotateY(180deg);
      }
    }

    &-post {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;

      &-link {
        box-shadow: 0 0 10px rgba(gray, 0.2);
        border-radius: 5px;
        color: inherit;
        display: block;
        outline: none;
        transition: box-shadow 0.5s;
      
        &:hover, &:focus { box-shadow: 0 0 10px rgba(gray, 0.8) }
      }

      &-inner {
        display: flex;
        flex-direction: column;
        padding: 20px;
        
        @include media-query(sph) {
          @include media-query-below(pc) {
            align-items: center;
            flex-direction: row
          }
        }

        & > * {
          margin: 0;
    
          &:not(:last-child) {
            margin: 0 0 0.5em 0;

            @include media-query(sph) {
              @include media-query-below(pc) {
                margin: 0 1em 0 0
              }
            }
          }

        }
      }

      &-thumbnail {
        height: 100%;
        position: relative;
        width: 100%;

        @include media-query(sph) { flex: 0 0 30%; }

        &::before {
          content: '';
          display: block;
          padding-top: 62%;
        }

        img {
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;

        & > * {
          margin: 0;
      
          &:not(:last-child) {
            margin: 0 0 0.5em 0;
          }
        }
      }

      &-title {
        font-size: 1.4rem;
        font-weight: bold;
      }

      &-excerpt {
        font-size: 1.2rem;
      }
    }
  }
}