.widget {
  font-size: 1.3rem;

  //アーカイブ、カテゴリー、メタ情報
  //最近のコメント、最近の投稿、固定ページ
  &_archive, &_categories, &_meta,
  &_recent_comments, &_recent_entries, &_pages {
    a { color: inherit }

    ul {
      list-style: none;
      margin: 0;
      padding: 0 0 0 10px;

      &.children {
        li:last-child {
          padding-bottom: 0;
        }
      }

      li {
        padding: 8px 0;
        
        &:not(:last-child) {
          border-bottom: 1px solid $gray;
        }
      }
    }
  }

  //最近のコメント
  &_recent_comments {
    a { text-decoration: underline }
  }

  //タグクラウド
  &_tag_cloud {
    a { color: inherit }
  }

  .widgettitle {
    font-size: 1.4rem;
    margin: 0 0 1em 0;
  }
  
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}