.widget {
  font-size: 1.3rem;

  .widgettitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1em 0;
  }
  
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}