.wrapper {
  padding-right: 15px;
  padding-left: 15px;

  @include media-query(sph) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include media-query(tc) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include media-query(pc) {
    padding-right: 40px;
    padding-left: 40px;
  }

  &.-no-side-space {
    &:not(.-sp):not(.-tc):not(.-pc) {
      padding-right: 0;
      padding-left: 0;
    }

    &.-sp {
      @include media-query-below(sph) {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &.-tc {
      @include media-query(sph) {
        @include media-query-below(tc) {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
    
    &.-pc {
      @include media-query(pc) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}